.filter_panel {
	display: flex;
	justify-content: center;
	user-select: none;
}

.filer_name {
	padding: 10px 20px;
	text-align: center;
	background: #bfafe7;
	color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	font-weight: bold;
}

.filter {
	color: black;
	text-align: left;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	background: #e1d8f3;
	padding: 5px;
}

.checkbox {
	cursor: pointer;
}

@media screen and (max-width: 899px) {
  .filter_panel {		
		flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  .filter_panel {
		flex-direction: row;
  }
}