<div class="filter_panel">
	<div class="filter_list">
		<div class="filer_name">Gender</div>
		<div class="filter" *ngFor="let gender of genderList; index as i">
			<input class="checkbox" type="checkbox" (change)="change('gender', gender, $event.target.checked)" />{{gender}}
			&#40;{{genderCount[i]}}&#41;
		</div>
	</div>
	<div class="filter_list">
		<div class="filer_name">Department</div>
		<div class="filter" *ngFor="let department of departmentList; index as i">
			<input class="checkbox" type="checkbox" (change)="change('department', department, $event.target.checked)" />{{department}}
			&#40;{{departmentCount[i]}}&#41;
		</div>	
	</div>
	<div class="filter_list">
		<div class="filer_name">City</div>
		<div class="filter" *ngFor="let city of cityList; index as i">
			<input class="checkbox" type="checkbox" (change)="change('city', city, $event.target.checked)" />{{city}}
			&#40;{{cityCount[i]}}&#41;
		</div>	
	</div>
</div>
