.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

@media screen and (min-width: 900px) {
  .container {
		max-width: 1200px;
	}
	.user_table {
		width: 60%;
	}
	.filter_panel {
		width: 40%;
	}
}

@media screen and (max-width: 899px) {
  .container {
		width: 100%;
	}
	.user_table {
		width: 85%;
	}
	.filter_panel {
		width: 15%;
	}
}