<div class="container">
	<app-user-table class="user_table" [(userList)]="filtredUsers" (handleClick)="sortColumn($event)"></app-user-table>
	<app-filter-panel class="filter_panel" [(userList)]="filtredUsers" (handleChange)="handleChange($event)"></app-filter-panel>
</div>