.table {
	border-collapse: collapse;
}

.block {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	background: #D8E6F3;
	user-select: none;
	text-align: left;
	padding: 5px 10px;
}

.column {
	background: #AFCDE7;
	color: white;
	cursor: pointer;
	text-align: center;
	padding: 10px 20px;
}

@media screen and (max-width: 899px) {
  .block:last-child {
    display: none;
	}
	.table {
		width: 100%;
	}
}