<table class="table">
	<thead>
		<tr>
			<th class="block column" (click)="click('name')">Name</th>
			<th class="block column" (click)="click('age')">Age</th>
			<th class="block column" (click)="click('gender')">Gender</th>
			<th class="block column" (click)="click('department')">Department</th>
			<th class="block column" (click)="click('address')">Address</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of userList">
			<td class="block"> {{user?.name}} </td>
			<td class="block"> {{user?.age}} </td>
			<td class="block"> {{user?.gender}} </td>
			<td class="block"> {{user?.department}} </td>
			<td class="block"> {{user?.address?.city}}, {{user?.address?.street}} </td>
		</tr>
	</tbody>
</table>